<header class="flex justify-between items-center bg-white border-b border-gray-200 md:p-4 sm:py-2">
  <div class="flex items-center" routerLink='/home'>
    <img src="../../assets/swiggyicon.png" alt="Logo" class="mr-4 rounded-md w-10 h-10" />
    <div class="relative inline-block text-left group">
      <!-- Dropdown Trigger -->
      <span class="text-lg font-medium hover:text-orange-600 underline underline-offset-8 md:mr-20 cursor-pointer" (click)="toggleDropdown()">
        {{ selectedCity }}
        <i class="transform rotate-45 inline-block border-r-2 border-b-2 border-orange-600 w-2 h-2 ml-1"></i>
      </span>
    
      <!-- Dropdown Menu -->
      <div class="absolute mt-2 w-48 bg-white rounded-md shadow-lg z-10" *ngIf="isOpen">
        <ul class="py-2">
          <!-- Active Location Option -->
          <li (click)="selectCity('Hyderabad')" class="px-4 py-2 text-black hover:bg-orange-100 cursor-pointer">
            Hyderabad
          </li>
    
          <!-- Grayed Out Locations -->
          <li class="px-4 py-2 text-gray-400 cursor-not-allowed">Mumbai</li>
          <li class="px-4 py-2 text-gray-400 cursor-not-allowed">Delhi</li>
          <li class="px-4 py-2 text-gray-400 cursor-not-allowed">Bangalore</li>
        </ul>
      </div>
    </div>
    
    
  </div>

  <nav class="hidden md:flex items-center space-x-8">
    <a routerLink='/home' class="flex items-center text-gray-700 font-bold hover:text-black">
      <img src="../../assets/icon1.png" alt="Swiggy Corporate" class="h-8 w-8 mr-2">
      Swiggy Corporate
    </a>
    <a routerLink="/search" class="flex items-center text-gray-700 font-bold hover:text-black">
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" class="mr-2">
        <g fill="none" fill-rule="evenodd">
          <path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
          <path fill="black" d="M10.5 2a8.5 8.5 0 1 0 5.262 15.176l3.652 3.652a1 1 0 0 0 1.414-1.414l-3.652-3.652A8.5 8.5 0 0 0 10.5 2M4 10.5a6.5 6.5 0 1 1 13 0a6.5 6.5 0 0 1-13 0" />
        </g>
      </svg>
      Search
    </a>
    <a routerLink="/offers" class="flex items-center text-gray-700 font-bold hover:text-black">
      <img src="../../assets/icon3.png" alt="Offers" class="h-8 w-8 mr-2">
      Offers <sup class="text-orange-500 font-semibold ml-1">NEW</sup>
    </a>
    <a routerLink="/help" class="flex items-center text-gray-700 font-bold hover:text-black">
      <img src="../../assets/icon4.png" alt="Help" class="h-8 w-8 mr-2">
      Help
    </a>
    
    <a routerLink="/favourites" class="flex items-center text-gray-700 font-bold hover:text-black" >
      ❤️ Favourites
    </a>
    <a routerLink="/cart" class="flex items-center text-gray-700 font-bold hover:text-black relative">
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24">
        <path fill="gray"
          d="M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M1 2v2h2l3.6 7.59l-1.36 2.45c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42a.25.25 0 0 1-.25-.25q0-.075.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.47c.07-.16.12-.33.12-.5a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2" />
      </svg>
      Cart
      <!-- Badge for item count -->
      <span
        class="absolute top-0 right-0 bg-red-600 text-white text-xs rounded-full px-1 py-0.5"
        *ngIf="cartItemCount > 0">
        {{ cartItemCount }}
      </span>
    </a>
    
    <a routerLink="/logout" class="flex items-center text-gray-700 font-bold hover:text-black" (click)="logout()" >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="gray" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z" />
      </svg>
      Logout
    </a>
  </nav>

  <!-- Responsive menu icon -->
  <button (click)="toggleMenu()" class="md:hidden p-2 rounded-lg focus:outline-none" aria-label="Toggle menu">
    <i class="text-xl">☰</i>
  </button>
</header>

<!-- Mobile menu dropdown -->
<div *ngIf="isMenuOpen" class="md:hidden mt-2">
  <ul class="bg-white border-t border-gray-200 space-y-2">
    <li routerLink="/" class="px-4 py-2 text-black hover:bg-orange-100 cursor-pointer">Home</li>
    <li routerLink="/search" class="px-4 py-2 text-black hover:bg-orange-100 cursor-pointer">Search</li>
    <li routerLink="/offers" class="px-4 py-2 text-black hover:bg-orange-100 cursor-pointer">Offers</li>
    <li routerLink="/help" class="px-4 py-2 text-black hover:bg-orange-100 cursor-pointer">Help</li>
    <li routerLink="/favourites" class="px-4 py-2 text-black hover:bg-orange-100 cursor-pointer">Favourites</li>
    
  </ul>
</div>
