<app-navbar></app-navbar>
<div class="search-container m-8">
    <input [value]="searchQuery" (input)="onInputChange($event)" type="text" placeholder="Search for items..." />
    <button (click)="onSearch()">Search</button>
  </div>
  
  <!-- Display the search results -->
  <div class="my-4" *ngIf="searchResults.length > 0">
    <p class="text-2xl font-bold pl-12">Search Results:</p>
    <ul class="space-y-4"> 
      <li *ngFor="let item of searchResults" class="bg-gray-700 text-white p-4 rounded-md shadow-md m-8">
        <div class="space-y-2 flex flex-row justify-around">
          
           <div>
            <p class="text-yellow-600 font-bold text-xl">{{ item.name }}</p>
          <p class="text-sm text-gray-300">{{ item.description }}</p>
          <p class="text-lg font-semibold">Price: ₹{{ item.price }}</p>
           </div>
          
          <div>
            <img [src]="item.img" alt="{{item.name}}" class=" rounded-md mb-2 h-52 w-72" />
          </div>
        </div>
      </li>
    </ul>
  </div>
  
  <!-- Display message if no results found -->
  <div *ngIf="searchResults.length === 0 && searchQuery.trim()">
    <p>No results found for "{{ searchQuery }}"</p>
  </div>
  